body{text-align: center;}


#cafe{background-color: lightpink;}






#park{background-color: lightcyan;}






#lib{background-color: plum;}





#staff{background-color: azure}




#contact{background-color: lightgoldenrodyellow}





#aboutMe{background-color: paleturquoise}